datasets
transformers
evaluate
scikit-learn
scipy
pandas
numpy
tifffile
persim
ripser
gudhi
matplotlib
seaborn
librosa
soundfile
torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
torch_topological
